<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='logic.js') }}"></script>
</head>
<body>
    <header>
        <a class="btn btn-primary" href="tasks">Tasks</a>
        <a class="btn btn-secondary" href="categories">Categories</a>
    </header>
    <div class="container">
        <h1>Todo-Liste</h1>
        {% if tasks|length == 0 %}
        <div class="no-tasks">Es gibt im Moment keine Aufgaben!</div>
        {% else %}
        <ul class="tasks">
            {% for task in tasks %}
            <li class="task{% if task['done'] == 1 %} done{% endif %}" data-id="{{ task['task_id'] }}">
                <label class="name"><input type="checkbox" {% if task['done'] %}checked{% endif %}> {{ task['description'] }}</label>
                <span class="duedate">{{ task['due_date'] }}</span>
                <label class="btn btn-warning">
                    <input type="checkbox" name="important" {% if task['important'] %}checked{% endif %} onclick="toggleImportant(this, {{ task['task_id'] }})"> <i class="fa fa-exclamation" style="vertical-align: middle;color:white"></i>
                </label>
                {% if task['category_id'] is not none %}
                    {% for category in categories %}
                        {% if category['category_id'] == task['category_id'] %}
                            {{ category['category_name'] }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <button class="btn btn-danger delete" onclick="deleteTask({{ task['task_id'] }})"><i class="fa fa-trash"></i></button>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <h1>Todo erstellen</h1>
        <form id="task-form" target="/tasks" method="post">
            <label>Beschreibung: <input type="text" name="description" required></label>
            <label class="btn btn-warning">
                <input type="checkbox" name="important"> <i class="fa fa-exclamation" style="vertical-align: middle;color:white"></i>
            </label>
            Frist: <input type="date" name="due_date" style="border: 1px solid lightgrey" required>
            Kategorie:
            <select name="category">
                <option selected value="-1">Nicht zugewiesen</option>
                {% for category in categories %}
                <option value="{{ category['category_id'] }}">{{ category['category_name'] }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary btn-submit">Erstellen</button>
        </form>
    </div>
</body>